table, th, td {
    border: 1px solid black;

}

table {
    width: 500px;
    border-collapse: collapse;
}

th {
    height: 30px;
}

thead {
    background-color: lightgray;
}

td {
    text-align: center;
}

tr:nth-child(even){
    background-color: lightcoral;
}

tr:hover{
    background-color: aqua;
    color: blueviolet;
}