div[class^=box] {
    height: 50px;
    width: 60px;
    background-color: lightblue;

}

.container {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    align-self: flex-end;
    order: 2;
}

.box2, .box3, .box4, .box5 {
    order: 1;
}

.box6, .box7, .box8, .box9 {
    /* align-self: self-start; */
    order: 3;
}