div[class^=box] {
    height: 50px;
    width: 60px;
    background-color: lightblue;
    border: 1px solid red;
}

.container {
    height: 250px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1, .box2 {
    flex: 1;
}

.box3 {
    flex: 2;
}

.box1 {
    flex: initial; /* width: 60px*/
}