body {
    background-color: rebeccapurple;
    color: blue;
}

/* @media screen (min-width:1200px) {
    
} */

/* @media all {
    body {
        background-color: orange;
        color: gray;
    }
} */

@media (min-width: 992px) {
    body {
        background-color: green;
    }
}

@media (max-width: 992px) {
    body {
        background-color: brown;
    }
}