.container {
    display: flex;
    height: 200px;
    border: 1px solid black;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* align-items: center; */
    /* align-items: start; */
    /* align-items: end; */
}
/* Οι εντολές 'justify-content' και 'align-items' "παίζουν" μόνο όταν έχει οριστεί το ΄display: flex;΄ */